/* Hey! this code is horrible, but this is a demo" */


.who-block, 
.field--name-field-article-type {
  font-size: 25px;
  border: 1px solid #0d47a1;
  background-color: hsl(202.1, 78.8%, 50%);
  padding: 15px;
  margin: 20px 10px;
  border-radius: 5px;
  color: white;
}

.field--name-field-article-type {
  font-size: 20px;
}

.node--view-mode-teaser {
  border: 1px solid #efefef;
  padding: 15px;
}